<main id="buzzer" class="admin content" data-url="{{get('url', '/')}}" data-title="{{get('title', 'Buzzer')}} | Buzzer">
    <h1>Administator panel</h1>
    <main id="administator">
        % if tweets and tweets != {}:
        % for tweet in tweets:
        <article class="tweet_container" data-tweet-id="{{tweet}}">
            <section class="icon_container hover" id="id{{tweets[tweet]['user_username']}}">
                % include('profile_icon', image=tweets[tweet]['user_profile_image'])
            </section>
            <main class="content_container">
                <header class="user_information hover" id="id{{tweets[tweet]['user_username']}}">
                    <p class="user_display_name" id="id{{tweets[tweet]['user_username']}}">
                        {{tweets[tweet]['user_display_name']}}</p>
                    <p id="id{{tweets[tweet]['user_username']}}">
                        @{{tweets[tweet]['user_username']}}</p>
                    <p id="id{{tweets[tweet]['user_username']}}">·</p>
                    <p id="id{{tweets[tweet]['user_username']}}">
                        {{tweets[tweet]['tweet_time_since_created']}}</p>
                </header>
                <main class="tweet_content">
                    % if tweets and tweet:
                    {{!tweets[tweet]['tweet_text']}}
                    % end
                    % if tweets[tweet]["tweet_image"]:
                    <img id='{{tweets[tweet]["tweet_image"]}}' src="/static/images/tweets/{{tweets[tweet]['tweet_image']}}" alt='{{tweets[tweet]["tweet_text"]}}' />
                    % end
                </main>
                <footer class="actions_container">
                    <button onclick="admin_delete_tweet(event)" data-tweet-id="{{tweet}}" class="button color" data-text="delete" data-text-processing="deleting...">DELETE</button>
                </footer>
            </main>
        </article>
        % end
        % else:
        <p>There're no tweets!</p>
        % end
    </main>
</main>

% if get('alert_info'):
% include(
% 'alert_info',
% text="Sorry, an error occured. " + alert_info,
% )
% end

% rebase('base', title=title)