% if users and users != []:
% for user in users:
% if user["user_id"] != user_id:
% include('user_display', user=user)
% end
% end
% else:
<p>There're no users!</p>
% end

% # REBASE INTO BUZZER BASE TEMPLATE
% rebase(
% 'buzzer_base',
% users=get('users', None),
% tweet_id=get('tweet_id', None),
% posts=get('posts', None),
% tweet=get('tweet', None),
% user_profile_to_display=get('user_profile_to_display', None),
% user_id=get('user_id', None),
% tweets=get('tweets', None),
% modal=get('modal', None)
% )