<aside id="main_aside">
    <div class="content">
        <main id="who_to_follow">
            <h2>
                Who to follow
            </h2>
            <main id="users_list">
                % for user in users[:5]:
                % if user['user_id'] != user_id:
                % include('user_display', user=user)
                % end
                % end
            </main>
            <footer id="show_more" onclick="spa('/users', true, event)">
                Show more
            </footer>
        </main>
    </div>
</aside>