<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* TO AVOID FLASH OF UNSTYLED CONTENT */
        /* Hide everything while stylesheet is being loaded (reversed at the end of the below stylesheet) */
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="icon" type="image/svg+xml" href="../static/images/icon.svg">
    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/spa.js" defer></script>
    <script src="../static/js/validator.js" defer></script>
    <title>Buzzer</title>
</head>

<body>
    {{!base}}
</body>

</html>