<main id="buzzer" class="content" data-url="{{get('url', '/')}}" data-title="{{get('title', 'Buzzer')}} | Buzzer">
    % include('navigation', users=users)
    <main id="main_content">
        <header id="page_title">

            % if title and title != 'Home': # no back button on home but on all other pages
            <button class="back_button hover" onclick="spa('/home', true, event)">🡠</button>
            % end

            {{get('title', 'Buzzer')}}

        </header>
        <main id="page_content">

            % # PAGE CONTENT FROM REBASE
            {{!base}}

        </main>
    </main>
    % include('aside', users=users)
</main>

% if get('alert_info'):
% include(
% 'alert_info',
% text="Sorry, an error occured. " + alert_info,
% )
% end

% if not only_update_body:
% rebase('base', title=title)
% end