% if not is_xhr:
% include('header')
% end
<main id="home" class="content" data-url="{{get('url', '/')}}" data-title="{{get('title', 'Buzzer')}} | Buzzer">
    % include('navigation', user=user, users=users)
    <main id="main_content">
        <header id="page_title">
            Home
        </header>
        <main id="content_container">
            <header id="new_tweet_form_container">
                % include('tweet_form', type='new')
            </header>
            <main>
                % for t in tweets:
                % include('tweet_display', tweets=tweets, tweet=t, user_id=user_id, logged_user=user, users=users)
                % end
            </main>
        </main>
    </main>
    % include('aside', user=user, users=users)
</main>
% if modal and modal == 'tweet':
% include('tweet_modal', tweet_id=tweet_id, tweet=tweet, type='edit')
% end
% if not is_xhr:
% include('footer')
% end