<header id="new_tweet_form_container">
    % if get('modal_open', None) != True:
    % include('tweet_form',
    % type='new',
    % user_id=user_id,
    % users=users)
    % end
</header>
<main>
    % # FEED DISPLAY - ALL POSTS
    % include(
    % 'feed_display',
    % posts=posts,
    % tweets=tweets,
    % user_id=user_id,
    % users=users
    % )
</main>

% # CONTENT FROM REBASE IS TWEET MODAL
% if get('base'):
{{!base}}
% end


% # REBASE INTO BUZZER BASE TEMPLATE
% rebase(
% 'buzzer_base',
% users=get('users', None),
% tweet_id=get('tweet_id', None),
% posts=get('posts', None),
% tweet=get('tweet', None),
% user_to_display=get('user_to_display', None),
% user_id=get('user_id', None),
% tweets=get('tweets', None),
% modal=get('modal', None)
% )