<header id="new_tweet_form_container">
    % if get('modal', None) == None:
    % include('tweet_form', type='new')
    % end
</header>
<main>
    % # FEED DISPLAY - ALL POSTS
    % include(
    % 'feed_display',
    % posts=posts,
    % tweets=tweets,
    % user_id=user_id,
    % users=users
    % )
</main>

% # REBASE INTO BUZZER BASE TEMPLATE
% rebase(
% 'buzzer_base',
% users=get('users', None),
% tweet_id=get('tweet_id', None),
% posts=get('posts', None),
% tweet=get('tweet', None),
% user_profile_to_display=get('user_profile_to_display', None),
% user_id=get('user_id', None),
% tweets=get('tweets', None),
% modal=get('modal', None)
% )