% include('header')
<main id="home">
    <nav>
        <div>
            <header>
                % include('logo_icon')
            </header>
            <main>
                <button id="id{{user_id}}" onclick="go_to_profile(event)" class="button">PROFILE</button>
                <button onclick="window.location.href = '/tweets/new'" class="button color">TWEET</button>
                <button onclick="logout(event)" class="link">LOG OUT</button>
            </main>
            <footer>
                <section>
                    % include('profile_icon')
                </section>
                <section>
                    % for user in users:
                    % if user['user_id'] == user_id:
                    <p>{{user["user_display_name"]}}</p>
                    <p>@{{user["user_username"]}}</p>
                    % end
                    % end
                </section>
            </footer>
        </div>
    </nav>
    <main>
        <header>
            Home
        </header>
        <main>
            <header>
                % include('tweet_form')
            </header>
            <main>
                % for tweet in tweets:
                % include('tweet_display', tweets=tweets, tweet=tweet)
                % end
            </main>
        </main>
    </main>
    <aside>
        <div>
            <header>
                SEARCH
            </header>
            <main>
                <header>
                    Who to follow
                </header>
                <main>
                    % for user in users[:5]:
                    % if user['user_id'] != user_id:
                    % include('profile_display', user=user)
                    % end
                    % end
                </main>
                <footer>
                    Show more
                </footer>
            </main>
        </div>
    </aside>
</main>
% include('footer')