% if not is_xhr:
% include('header')
% end
<main id="index" class="content" data-url="{{get('url', '/')}}" data-title="{{get('title', 'Buzzer')}} | Buzzer">
    <header>
        % include('logo_icon')
    </header>
    <main>
        % include('logo_icon')
        <section>
            <h1>buzzer</h1>
            <button onclick="spa('/login', true, event);" class="button color">Log in</button>
            <button onclick="spa('/signup', true, event);" class="button">Sign up</button>
        </section>
    </main>
</main>
% if modal and modal == 'login':
% include('login_modal', error=error, email=email)
% end
% if modal and modal == 'signup':
% include('signup_modal', errors=errors, form_values=form_values)
% end
% if not is_xhr:
% include('footer')
% end