<main id="index" class="content" data-url="{{get('url', '/')}}" data-title="{{get('title', 'Buzzer')}} | Buzzer">
    <header id="index_logo_art">
        % include('logo_icon')
    </header>
    <main id="index_content">
        % include('logo_icon')
        <section id="actions">
            <h1>buzzer</h1>
            <button onclick="spa('/login', true, event);" class="button color">Log in</button>
            <button onclick="spa('/signup', true, event);" class="button">Sign up</button>
        </section>
    </main>
</main>

% # CONTENT FROM REBASE IS LOGIN OR SIGNUP MODAL
% if get('base'):
{{!base}}
% end


% if get('alert_info'):
% include(
% 'alert_info',
% text=alert_info,
% )
% end

% if not only_update_body:
% rebase('base')
% end