<main id="login">
    <section class="background" onclick="spa('/', true, event);">
    </section>
    <main>
        <header id="header_logo">
            % include('logo_icon')
            <h1>buzzer</h1>
        </header>
        <main id="modal">
            <h2>Log in</h2>
            <form>

                % # EMAIL INPUT
                <label for="login_email" data-to-be-validated="true">
                    E-mail

                    % include('error_message_backend', name='email')
                    <span class="error_message error_span hidden">Email <span></span></span>

                    <input type="text" name="login_email" id="login_email" placeholder="a@a.com" value="{{email or ''}}" data-email="true" data-required="true">
                </label>

                % # PASSWORD INPUT
                <label for="login_password" data-to-be-validated="true">
                    Password

                    % include('error_message_backend', name='password')
                    <span class="error_message error_span hidden">Password <span></span></span>

                    <input type="password" name="login_password" id="login_password" placeholder="***" data-required="true" data-min="3">
                </label>

                % # SUBMIT BUTTON
                <input class="button color" type="submit" value="Log in" onclick="log_in(event)" data-text="Log in" data-text-processing="Logging in...">

            </form>
            <button class="link" onclick="spa('/signup', true, event);">
                No account? Sign up here!
            </button>
        </main>
    </main>
</main>

% # REBASE THE MODAL ON TOP OF THE INDEX PAGE
% rebase('index', error=error, email=email)