% if not is_xhr:
% include('header')
% end
<main id="home" class="content" data-url="{{get('url', '/')}}" data-title="{{get('title', 'Buzzer')}} | Buzzer">
    % include('navigation', users=users)
    <main id="profile-content">
        <header id="page_title">
            <button onclick="spa('/home', true, event);">🡠</button>
            @{{user_profile_to_display['user_username']}}
        </header>
        <main>
            <header>
                <section class="background"></section>
                <header>
                    % include('profile_icon')
                    % if user_id != user_profile_to_display["user_id"]:
                    % if user_profile_to_display['is_following']:
                    <button onclick="follow_user(event)" id="id{{user_profile_to_display['user_id']}}"
                        class="button followedTrue">FOLLOWING</button>
                    % else:
                    <button onclick="follow_user(event)" id="id{{user_profile_to_display['user_id']}}"
                        class="button color">FOLLOW</button>
                    % end
                    % end
                </header>
                <main>
                    <h2>{{user_profile_to_display['user_display_name']}}</h2>
                    <p>@{{user_profile_to_display['user_username']}}</p>
                    <p>{{user_profile_to_display['followers']}} followers</p>
                </main>
            </header>
            <main>
                % for one_tweet in tweets:
                % if tweets[one_tweet]['user_username'] == user_profile_to_display['user_username']:
                % include('tweet_display', tweets=tweets, tweet=one_tweet, user_id=user_id)
                % end
                % end
            </main>
        </main>
    </main>
    % include('aside', users=users)
</main>
% if modal and modal == 'tweet':
% include('tweet_modal', tweet_id=tweet_id, tweet=tweet, type='edit')
% end
% if not is_xhr:
% include('footer')
% end