<main id="signup">
    <section class="background" onclick="spa('/', true, event);">
    </section>
    <main>
        <header id="header_logo">
            % include('logo_icon')
            <h1>buzzer</h1>
        </header>
        <main id="modal">
            <h2>
                Sign up
            </h2>
            <form>
                <label for="signup_display_name" data-to-be-validated="true">
                    Display name



                    % for error_obj in possible_errors["display_name"]:
                    % if get("errors")[error_obj["error"]] != 'none':
                    <span class="error_message error_back">{{error_obj["message"]}}</span>
                    % end
                    % end

                    <span class="error_message error_span hidden">Display name <span></span></span>



                    <span class="extra"><br>This is the name that other users will see.</span>
                    <input type="text" name="signup_display_name" id="signup_display_name" placeholder="Name" data-min="1" data-max="100" data-required="true" data-no-special-characters="true" value="{{form_values['display_name']}}">
                </label>
                <label for="signup_username" data-to-be-validated="true">
                    Username




                    % for error_obj in possible_errors["username"]:
                    % if get("errors")[error_obj["error"]] != 'none':
                    <span class="error_message error_back">{{error_obj["message"]}}</span>
                    % end
                    % end
                    <span class="error_message error_span hidden">Username <span></span></span>



                    <input type="text" name="signup_username" id="signup_username" placeholder="Username" data-min="1" data-max="100" data-required="true" data-no-spaces="true" data-no-special-characters="true" value="{{form_values['username']}}">
                </label>
                <label for="signup_email" data-to-be-validated="true">
                    E-mail




                    % for error_obj in possible_errors["email"]:
                    % if get("errors")[error_obj["error"]] != 'none':
                    <span class="error_message error_back">{{error_obj["message"]}}</span>
                    % end
                    % end
                    <span class="error_message error_span hidden">Email <span></span></span>



                    <input type="text" name="signup_email" id="signup_email" placeholder="a@a.com" data-email="true" data-required="true" value="{{form_values['email']}}">
                </label>
                <label for="signup_password" data-to-be-validated="true">
                    Password




                    % for error_obj in possible_errors["password"]:
                    % if get("errors")[error_obj["error"]] != 'none':
                    <span class="error_message error_back">{{error_obj["message"]}}</span>
                    % end
                    % end
                    <span class="error_message error_span hidden">Password <span></span></span>



                    <input type="password" name="signup_password" id="signup_password" placeholder="***" data-required="true" data-min="3">
                </label>
                <label for="signup_password_repeat" data-to-be-validated="true">
                    Repeat password



                    % if get("errors")['passwords_different'] != 'none':
                    <span class="error_message error_back">Passwords don't match</span>
                    % end
                    <span class="error_message error_span hidden">Repeated password <span></span></span>



                    <input type="password" name="signup_password_repeat" id="signup_password_repeat" placeholder="***" data-required="true" data-min="3">
                </label>
                <input class="button color" type="submit" value="Sign up" onclick="sign_up(event)">
            </form>
            <button class="link" onclick="spa('/login', true, event);">
                Already have an account? Log in here!
            </button>
        </main>
    </main>
</main>

% # REBASE THE MODAL ON TOP OF THE INDEX PAGE
% rebase('index', errors=errors, form_values=form_values)