<article class="tweet_container" data-id="id{{tweet}}">
    <section onclick="view_user(event)" class="icon_container hover" data-username="id{{tweets[tweet]['user_username']}}">
        % for user in users:
        % if tweets[tweet]['tweet_user_id'] == user['user_id']:
        % if user['user_profile_image'] != "NULL":
        <img id="{{user['user_profile_image']}}" src=" /static/images/profiles/{{user['user_profile_image']}}" alt='{{user["user_display_name"]}} profile image' />
        % else:
        % include('profile_icon')
        % end
        % end
        % end
    </section>
    <main class="content_container">
        <header onclick="view_user(event)" class="user_information hover" data-username="id{{tweets[tweet]['user_username']}}">
            <p class="user_display_name no_click">
                {{tweets[tweet]['user_display_name']}}</p>
            <p class="no_click">
                @{{tweets[tweet]['user_username']}}</p>
            <p class="no_click">·</p>
            <p class="no_click">
                {{tweets[tweet]['tweet_time_since_created']}}</p>
            % if tweets[tweet]['tweet_time_since_updated']:
            % if len(tweets[tweet]['tweet_time_since_updated']) != 2 and len(tweets[tweet]['tweet_time_since_updated']) != 3:
            <p class="no_click">
                (last updated {{tweets[tweet]['tweet_time_since_updated']}})</p>
            % else:
            <p class="no_click">
                (last updated {{tweets[tweet]['tweet_time_since_updated']}} ago)</p>
            % end
            % end
        </header>
        <main class="tweet_content">
            % if tweets and tweet:
            {{!tweets[tweet]['tweet_text']}}
            % end
            % if tweets[tweet]["tweet_image"]:
            <img id='{{tweets[tweet]["tweet_image"]}}' src="/static/images/tweets/{{tweets[tweet]['tweet_image']}}" alt='{{tweets[tweet]["tweet_text"]}}' />
            % end
        </main>
        <footer class="like_container">

            <section>
                <svg onclick="toggle_like_tweet(event)" id="like{{tweet}}" class="like_button" data-tweet-id="id{{tweet}}" data-liked="{{tweets[tweet]['has_liked_tweet']}}" xmlns="http://www.w3.org/2000/svg" viewBox="-40 -40 582 582">
                    <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
                </svg>
                <p>{{tweets[tweet]['tweet_likes']}}</p>
                <svg onclick="retweet_tweet(event)" data-tweet-id="id{{tweet}}" data-retweeted="{{tweets[tweet]['has_retweeted_tweet']}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M614.2 334.8C610.5 325.8 601.7 319.1 592 319.1H544V176C544 131.9 508.1 96 464 96h-128c-17.67 0-32 14.31-32 32s14.33 32 32 32h128C472.8 160 480 167.2 480 176v143.1h-48c-9.703 0-18.45 5.844-22.17 14.82s-1.656 19.29 5.203 26.16l80 80.02C499.7 445.7 505.9 448 512 448s12.28-2.344 16.97-7.031l80-80.02C615.8 354.1 617.9 343.8 614.2 334.8zM304 352h-128C167.2 352 160 344.8 160 336V192h48c9.703 0 18.45-5.844 22.17-14.82s1.656-19.29-5.203-26.16l-80-80.02C140.3 66.34 134.1 64 128 64S115.7 66.34 111 71.03l-80 80.02C24.17 157.9 22.11 168.2 25.83 177.2S38.3 192 48 192H96V336C96 380.1 131.9 416 176 416h128c17.67 0 32-14.31 32-32S321.7 352 304 352z" />
                </svg>
                <p>{{tweets[tweet]['tweet_retweets']}}</p>
            </section>
            % for user in users:
            % if user['user_id'] != user_id:
            % if tweets[tweet]['tweet_user_id'] == user['user_id']:
            % include('follow_button', user=user)
            % end
            % end
            % end
            % if tweets[tweet]['tweet_user_id'] == user_id and type == "tweet":
            <aside class="actions_container">
                <section class="tweet_actions">
                    <button onclick="spa('/tweets/{{tweet}}', true, event)" class="link">EDIT</button>
                    <button onclick="delete_tweet(event)" id="id{{tweet}}" class="link" data-text="delete" data-text-processing="deleting...">DELETE</button>
                </section>
            </aside>
            % end
        </footer>
    </main>
</article>