<form method="post" action="/tweets/{{get('tweet_id', 'new')}}" enctype="multipart/form-data" id="tweet_form">
    <section id="profile_icon_container">
        % include('profile_icon')
    </section>
    <section id="form_content">

        <label for="tweet_text" data-to-be-validated="true">



            % if get('error'):
            % for possible_error in possible_errors:
            % if error == possible_error["error"]:
            <span class="error_message">{{possible_error["message"]}}</span>
            % end
            % end
            % end
            <span class="error_message error_span hidden">Tweet text <span></span></span>



            % if get('tweet') and type == 'edit':
            <textarea name="tweet_text" id="tweet_text" data-required="true" data-min="2" data-max="250" placeholder="What're you thinking about?">{{tweet['tweet_text']}}</textarea>
            % elif get('tweet_text'):
            <textarea name="tweet_text" id="tweet_text" data-required="true" data-min="2" data-max="250" placeholder="What're you thinking about?">{{tweet_text}}</textarea>
            % else:
            <textarea name="tweet_text" id="tweet_text" data-required="true" data-min="2" data-max="250" placeholder="What're you thinking about?"></textarea>
            % end
        </label>
        <footer id="new_tweet_actions">
            <section id="image_actions">
                % if get('tweet_id') and tweet_id != "new" and tweet['tweet_image'] and type == 'edit':
                <button id="remove_image" onclick="remove_selected_image(event)" class="button">Remove
                    image</button>
                <label class="button hidden" for="tweet_image">
                    Add image
                </label>
                <input onchange="tweet_image_changed(event)" type="file" name="tweet_image" id="tweet_image">
                <input id="image_name" name="image_name" value="{{tweet['tweet_image']}}">
                % else:
                <button id="remove_image" onclick="remove_selected_image(event)" class="hidden button">Remove
                    image</button>
                <label class="button" for="tweet_image">
                    Add image
                </label>
                <input onchange="tweet_image_changed(event)" type="file" name="tweet_image" id="tweet_image">
                <p id="image_name">No image</p>
                % end
            </section>
            % if get('tweet_id') and tweet_id != "new":
            <button type="submit" class="button color" onclick="put_edited_tweet(event);" id="id{{tweet_id}}">
                SAVE EDITS
            </button>
            % else:
            <button type="submit" class="button color" onclick="post_new_tweet(event);">
                POST TWEET
                % end
            </button>
        </footer>
    </section>
</form>