<main id="tweet_modal">
    <section id="background" onclick="open_home(event)">
    </section>
    <main id="modal">

        <h2>{{'New tweet' if tweet_id == "new" else 'Edit tweet'}}</h2>

        % # TWEET FORM
        % include(
        % 'tweet_form',
        % tweet_id=get('tweet_id', None),
        % tweet=get('tweet', None),
        % type=type,
        % error=get('error', None),
        % tweet_text=get('tweet_text', None),
        % user_id=user_id,
        % users=users
        % )

    </main>
</main>

% # REBASE THE MODAL ON TOP OF THE USER PAGE
% rebase('home', modal_open=True)