<main id="user_modal">
    <section id="background" onclick="spa('/users/{{user_displayed_username}}', true, event)">
    </section>
    <main id="modal">
        <h2>Edit user</h2>

        <form id="user_form">

            % # DISPLAY NAME INPUT
            <label for="user_display_name" data-to-be-validated="true">
                Display name

                % include('error_message_backend', name='display_name')
                <span class="error_message error_span hidden">Display name <span></span></span>

                <input type="text" name="user_display_name" id="user_display_name" placeholder="Name" data-min="1" data-max="100" data-required="true" value="{{form_values['user_display_name'] or user_to_edit['user_display_name']}}">
            </label>

            % # USERNAME INPUT
            <label for="user_username" data-to-be-validated="true">
                Username

                % include('error_message_backend', name='username')
                <span class="error_message error_span hidden">Username <span></span></span>

                <input type="text" name="user_username" id="user_username" placeholder="Username" data-min="1" data-max="100" data-required="true" data-no-spaces="true" data-no-special-characters="true" value="{{form_values['user_username'] or user_to_edit['user_username']}}">
            </label>

            % # HEADER COLOR INPUT
            <label for="user_header" data-to-be-validated="true">
                Header color

                % include('error_message_backend', name='header_color')
                <span class="error_message error_span hidden">Header color <span></span></span>

                <input type="text" name="user_header" id="user_header" placeholder="#000000" data-hex-color="true" data-required="false" value="{{form_values['user_profile_header'] or user_to_edit['user_profile_header'] or ''}}">
            </label>

            % # PROFILE IMAGE INPUT
            <section id="image_actions">
                <button id="remove_image" onclick="remove_selected_image(event, 'user')" class="hidden button" data-text="Remove image" data-text-processing="Removing...">Remove
                    image</button>
                <label class="button" for="user_image">
                    Add new profile picture
                </label>
                <input onchange="image_changed(event, 'user')" type="file" name="user_image" id="user_image">
                <input id="image_name" name="image_name" readonly="readonly">
            </section>

            % # SUBMIT BUTTON
            <input class="button color" type="submit" data-user-id="{{user_to_edit['user_id']}}" data-username="{{user_to_edit['user_username']}}" value="Save profile" onclick="edit_user(event)" data-text="Save profile" data-text-processing="Saving...">

        </form>

    </main>
</main>

% # REBASE THE MODAL ON TOP OF THE USER PAGE
% rebase('user')