<article class="user_display ">
    <section onclick="view_user(event)" data-username="id{{user['user_username']}}">
        <section class="no_click">
            % if user['user_profile_image'] != "NULL":
            <img id="{{user['user_profile_image']}}"" src=" /static/images/profiles/{{user['user_profile_image']}}" alt='{{user["user_display_name"]}} profile image' />
            % else:
            % include('profile_icon')
            % end
        </section>
        <section class="no_click">
            <p class="no_click">{{user['user_display_name']}}</p>
            <p class="no_click">@{{user['user_username']}}</p>
        </section>
    </section>
    % if not get(user_id) and user['user_id'] != user_id:
    % include('follow_button', user=user)
    % end
</article>