<article class="user_display">
    <section onclick="view_user(event)" data-username="id{{user['user_username']}}">
        <section class="no_click">
            % include('profile_icon')
        </section>
        <section class="no_click">
            <p class="no_click">{{user['user_display_name']}}</p>
            <p class="no_click">@{{user['user_username']}}</p>
        </section>
    </section>
    <button onclick="follow_user(event)" data-userid="id{{user['user_id']}}" data-follows="{{user['is_following']}}" class="button">
        % if user['is_following']:
        FOLLOWING
        % else:
        FOLLOW
        % end
    </button>
</article>