<main id="user_modal">
    <section id="background" onclick="spa('/users/{{user_displayed_username}}', true, event)">
    </section>
    <main id="modal">
        <h2>Edit user</h2>

        <form id="user_form">
            <label for="user_display_name" data-to-be-validated="true">
                Display name



                % for error_obj in possible_errors["display_name"]:
                % if get("errors") and get("errors")[error_obj["error"]] != 'none':
                <span class="error_message error_back">{{error_obj["message"]}}</span>
                % end
                % end

                <span class="error_message error_span hidden">Display name <span></span></span>



                <input type="text" name="user_display_name" id="user_display_name" placeholder="Name" data-min="1" data-max="100" data-required="true" data-no-special-characters="true" value="{{user_to_edit['user_display_name']}}">
            </label>
            <label for="user_username" data-to-be-validated="true">
                Username



                % for error_obj in possible_errors["username"]:
                % if get("errors") and get("errors")[error_obj["error"]] != 'none':
                <span class="error_message error_back">{{error_obj["message"]}}</span>
                % end
                % end
                <span class="error_message error_span hidden">Username <span></span></span>



                <span class="error_message error_span hidden">Username <span></span></span>



                <input type="text" name="user_username" id="user_username" placeholder="Username" data-min="1" data-max="100" data-required="true" data-no-spaces="true" data-no-special-characters="true" value="{{user_to_edit['user_username']}}">
            </label>

            <label for="user_header" data-to-be-validated="true">
                Header color



                % for error_obj in possible_errors["header_color"]:
                % if get("errors") and get("errors")[error_obj["error"]] != 'none':
                <span class="error_message error_back">{{error_obj["message"]}}</span>
                % end
                % end
                <span class="error_message error_span hidden">Header color <span></span></span>



                <input type="text" name="user_header" id="user_header" placeholder="#000000" data-hex-color="true" data-required="false" value="{{user_to_edit['user_profile_header'] or ''}}">
            </label>

            <section id="image_actions">
                <button id="remove_image" onclick="remove_user_selected_image(event)" class="hidden button" data-text="Remove image" data-text-processing="Removing...">Remove
                    image</button>
                <label class="button" for="user_image">
                    New profile picture
                </label>
                <input onchange="user_image_changed(event)" type="file" name="user_image" id="user_image">
                <input id="image_name" name="image_name" class="no_click" readonly="readonly">
            </section>

            <input class="button color" type="submit" data-user-id="{{user_to_edit['user_id']}}" data-username="{{user_to_edit['user_username']}}" value="Save profile" onclick="edit_user(event)" data-text="Save profile" data-text-processing="Saving...">
        </form>

    </main>
</main>