* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.18s;
}

.hidden {
  display: none !important;
}

.button {
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f8f2ea;
  color: black;
  border: #f8f2ea 0.2rem solid;
}
.button.color {
  background-color: #dda900;
  color: white;
  border: #dda900 0.2rem solid;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: #f8f2ea 0.2rem solid;
}
.button:hover.color {
  background-color: white;
  color: #dda900;
  border: #dda900 0.2rem solid;
}
.button.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.link {
  color: #4d3220;
  text-decoration: underline;
  background: none;
  border: none;
  text-transform: lowercase;
  font-weight: 500;
}
.link:hover {
  cursor: pointer;
  color: #dda900;
}

label input[type=text],
label input[type=password] {
  padding: 0.3rem 0.5rem;
  border: #f8f2ea solid thin;
  border-radius: 0.4rem;
}
label input[type=text].validate_error,
label input[type=password].validate_error {
  border-color: rgba(170, 15, 10, 0.822);
}
label span.error_message {
  color: rgba(170, 15, 10, 0.822);
}

#index {
  display: grid;
  grid-template-columns: 5fr 3fr;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#index header {
  grid-column: 1/2;
  background-color: #dda900;
  overflow: hidden;
  height: 100vh;
}
#index header svg {
  position: relative;
  right: 0;
  fill: white;
  width: 151%;
  height: 126%;
  transform: translateX(-22%);
}
#index main {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: 60vh;
}
#index main svg {
  height: 80px;
  width: 80px;
  fill: #dda900;
  align-self: flex-start;
}
#index main section {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
#index main section h1 {
  font-size: 3rem;
  color: #dda900;
  margin-bottom: 1rem;
}
@media screen and (max-width: 500px) {
  #index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #index header {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #index header svg {
    width: 130%;
    height: 110%;
    transform: translate(-22%, -22%);
  }
  #index main {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

#login,
#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
#login #background,
#signup #background {
  background-color: rgba(221, 169, 0, 0.781);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#login #background:hover,
#signup #background:hover {
  cursor: pointer;
}
#login section:first-of-type,
#signup section:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
  margin: 0 auto;
  padding-top: 2rem;
  z-index: 10;
  position: relative;
}
#login section:first-of-type svg,
#signup section:first-of-type svg {
  fill: white;
  height: 100px;
}
#login section:first-of-type h1,
#signup section:first-of-type h1 {
  font-size: 2.5rem;
}
#login #modal,
#signup #modal {
  width: 300px;
  height: auto;
  margin: 2rem auto;
  top: 0;
  left: 0;
  position: relative;
  z-index: 10;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  #login #modal,
#signup #modal {
    width: 100%;
    padding: 1.5rem 0.4rem;
  }
}
#login #modal header,
#signup #modal header {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
#login #modal main form,
#signup #modal main form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#login #modal footer,
#signup #modal footer {
  padding-top: 0.5rem;
  text-align: center;
}

#signup #modal {
  width: 400px;
}
@media screen and (max-width: 500px) {
  #signup #modal {
    width: 100%;
  }
}
#signup #modal span {
  font-size: 0.8rem;
  font-weight: 500;
}
#signup #modal span.extra {
  color: #4d3220;
}
#signup #modal span.error {
  color: red;
}

#home {
  display: grid;
  grid-template-areas: "nav main main aside";
  height: 100vh;
}
#home #main_navigation,
#home #main_aside {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#home #main_navigation div,
#home #main_aside div {
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(100vh - 2rem);
}
#home #main_navigation {
  grid-area: nav;
  justify-self: end;
}
#home #main_navigation #logo_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.4rem;
}
#home #main_navigation #logo_container svg {
  fill: #dda900;
  width: 80px;
  height: 80px;
}
#home #main_navigation #navigation button {
  margin-bottom: 0.4rem;
}
#home #main_navigation #profile_container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: calc(100% - 2rem);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}
#home #main_navigation #profile_container:hover {
  background-color: #f8f2ea;
  cursor: pointer;
}
#home #main_navigation #profile_container section {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home #main_navigation #profile_container section p {
  padding: 0 0.4rem;
}
#home #main_navigation #profile_container section svg {
  width: 40px;
  height: 40px;
  fill: #4d3220;
  border-radius: 50%;
}
#home #main_content {
  grid-area: main;
  min-width: 400px;
  margin: 0 auto;
  max-width: 600px;
}
#home #main_content #page_title {
  padding: 1rem 0.4rem;
  position: sticky;
  background-color: white;
  opacity: 0.97;
  font-weight: bold;
  top: 0;
}
#home #main_content #content_container #new_tweet_form_container {
  padding: 1rem 0.4rem;
  border: solid #f8f2ea thin;
}
#home #main_content #content_container #tweet_container {
  padding: 1rem 0.5rem;
  border: solid #f8f2ea thin;
  display: flex;
  flex-direction: row;
}
#home #main_content #content_container #tweet_container #icon_container {
  width: 40px;
}
#home #main_content #content_container #tweet_container #icon_container svg {
  width: 40px;
  height: 40px;
  fill: #4d3220;
}
#home #main_content #content_container #tweet_container #content_container {
  width: 100%;
  padding-left: 0.4rem;
}
#home #main_content #content_container #tweet_container #content_container #user_information {
  width: auto;
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
  gap: 0.4rem;
  width: 100%;
}
#home #main_content #content_container #tweet_container #content_container #user_information:hover {
  opacity: 0.6;
  cursor: pointer;
}
#home #main_content #content_container #tweet_container #content_container #user_information #user_display_name {
  font-weight: bold;
  width: auto;
}
#home #main_content #content_container #tweet_container #content_container #user_information p {
  font-weight: 300;
  color: #4d3220;
  width: auto;
}
#home #main_content #content_container #tweet_container #content_container #tweet_content {
  padding: 0.2rem 0;
}
#home #main_content #content_container #tweet_container #content_container #tweet_content img {
  margin: 1rem 0;
  border-radius: 0.5rem;
}
#home #main_content #content_container #tweet_container #content_container #like_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home #main_content #content_container #tweet_container #content_container #like_container section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: auto;
}
#home #main_content #content_container #tweet_container #content_container #like_container section svg {
  stroke: black;
  stroke-width: 3rem;
  width: 50px;
  height: 30px;
  fill: white;
}
#home #main_content #content_container #tweet_container #content_container #like_container section svg:hover {
  stroke: #dda900;
  cursor: pointer;
}
#home #main_content #content_container #tweet_container #content_container #like_container section svg path {
  pointer-events: none;
}
#home #main_content #content_container #tweet_container #content_container #like_container section svg.likedTrue {
  fill: #dda900;
}
#home #main_content #content_container #tweet_container #content_container #like_container section svg.likedTrue + p {
  font-weight: bold;
}
#home #main_content #content_container #tweet_container #actions_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.2rem;
  gap: 0.4rem;
  width: auto;
}
#home #main_content #content_container #tweet_container #actions_container .button {
  max-width: 100px;
  width: 100%;
}
#home #main_content #content_container #tweet_container #actions_container #tweet_actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}
#home #main_aside {
  grid-area: aside;
  justify-self: start;
}
#home #main_aside div main {
  background-color: #f8f2ea;
  border-radius: 1.5rem;
}
#home #main_aside div main header {
  padding: 1.2rem 1rem 0.6rem 1rem;
  font-weight: bold;
  border-radius: 1.5rem 1.5rem 0 0;
}
#home #main_aside div main footer {
  padding: 0.6rem 1rem 1.2rem 1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  border-style: inset;
  border: solid #f8f2ea thin;
}
#home #main_aside div main footer:hover {
  background-color: white;
  color: #dda900;
  cursor: pointer;
}
#home #main_aside div main main {
  border-top: solid #4d3220 thin;
  border-bottom: solid #4d3220 thin;
  border-radius: 0;
}
#home #main_aside div main main article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.8rem;
}
#home #main_aside div main main article:hover {
  background-color: white;
  cursor: pointer;
}
#home #main_aside div main main article section {
  height: 100%;
  width: auto;
  padding: 0.4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#home #main_aside div main main article section section {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home #main_aside div main main article section p {
  padding: 0 0.4rem;
}
#home #main_aside div main main article section svg {
  width: 40px;
  height: 40px;
  fill: #4d3220;
  border-radius: 50%;
}

#profile-content > header {
  display: flex;
  flex-direction: row;
}
#profile-content > header button {
  background-color: #0000;
  border: none;
  width: auto;
  margin-right: 0.5rem;
}
#profile-content > main > header .background {
  background-color: orange;
  width: 100%;
  height: 150px;
}
#profile-content > main > header > header {
  height: 50px;
}
#profile-content > main > header svg {
  width: 100px;
  height: 100px;
  transform: translateY(calc(-50% - 0.5rem - 0.25rem));
  background-color: white;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 100%;
  position: absolute;
}
#profile-content > main > header .button {
  max-width: 100px;
  float: right;
  margin: 0.5rem;
}
#profile-content > main {
  height: auto;
}

#tweet_form {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
#tweet_form #profile_icon_container {
  width: auto;
}
#tweet_form #profile_icon_container svg {
  width: 40px;
  height: 40px;
}
#tweet_form #form_content {
  width: 100%;
  display: grid;
}
#tweet_form #form_content #tweet_text {
  outline: none;
  border: none;
  padding: 0.4rem;
  resize: none;
  overflow: auto;
  height: 5rem;
  border-bottom: thin #f8f2ea solid;
}
#tweet_form #form_content #tweet_text:focus {
  outline: solid 2px #dda900;
  border: none;
}
#tweet_form #form_content #new_tweet_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 0;
}
#tweet_form #form_content #new_tweet_actions #image_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
#tweet_form #form_content #new_tweet_actions #image_actions #tweet_image {
  display: none;
}
#tweet_form #form_content #new_tweet_actions label,
#tweet_form #form_content #new_tweet_actions p,
#tweet_form #form_content #new_tweet_actions button {
  width: auto;
  height: auto;
}

#tweet_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}
#tweet_modal #background {
  background-color: rgba(221, 169, 0, 0.781);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#tweet_modal #background:hover {
  cursor: pointer;
}
#tweet_modal #modal {
  width: 600px;
  min-width: 300px;
  height: auto;
  margin: 2rem auto;
  top: 0;
  left: 0;
  position: relative;
  z-index: 10;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  #tweet_modal #modal {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
