$primary-color: rgb(221, 169, 0);
$primary-color-transparent: rgba(221, 169, 0, 0.781);
$secondary-color: rgb(99, 66, 44);
$tertiar-color: #f0f0f0;
$dark-color: black;
$light-color: white;
$error-color: rgba(170, 15, 10, 0.822);
$like-color: rgb(204, 44, 44);
$retweet-color: #3e8c3e;
$index-background: linear-gradient(
  170deg,
  #ffde70 0%,
  #dda900 20%,
  #d89800 90%
);

$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.18s;
}

.hidden {
  display: none !important;
}

.no_click {
  pointer-events: none;
}

.button {
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  font-weight: 500;
  text-transform: lowercase;
  background-color: $tertiar-color;
  color: $dark-color;
  border: $tertiar-color 0.2rem solid;
  &.color,
  &[data-follows="False"] {
    background-color: $primary-color;
    color: $light-color;
    border: $primary-color 0.2rem solid;
  }
  &:hover {
    cursor: pointer;
    background-color: $light-color;
    color: $dark-color;
    border: $tertiar-color 0.2rem solid;
    &.color {
      background-color: $light-color;
      color: $primary-color;
      border: $primary-color 0.2rem solid;
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
.link {
  color: $secondary-color;
  text-decoration: underline;
  background: none;
  border: none;
  text-transform: lowercase;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}
.hover:hover {
  cursor: pointer;
  opacity: 0.6;
}
label {
  input:not([type="button"]),
  input:not([type="submit"]) {
    padding: 0.3rem 0.5rem;
    border: $tertiar-color solid thin;
    border-radius: 0.4rem;
    &.validate_error {
      border-color: $error-color;
    }
  }
  span.error_message {
    color: $error-color;
  }
}

#index {
  display: grid;
  grid-template-columns: 5fr 3fr;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  #index_logo_art {
    grid-column: 1/2;
    background-color: $primary-color;
    overflow: hidden;
    height: 100vh;
    background: $index-background;
    svg {
      position: relative;
      right: 0;
      fill: $light-color;
      width: 151%;
      height: 126%;
      transform: translateX(-22%);
    }
  }
  #index_content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 60vh;
    svg {
      height: 80px;
      width: 80px;
      fill: $primary-color;
      align-self: flex-start;
    }
    #actions {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      h1 {
        font-size: 3rem;
        color: $primary-color;
        margin-bottom: 1rem;
      }
    }
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    #index_logo_art {
      grid-column: 1/2;
      grid-row: 2/3;
      svg {
        width: 130%;
        height: 110%;
        transform: translate(-22%, -22%);
      }
    }
    #index_content {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}

#login,
#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  .background {
    background-color: $primary-color-transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
  #header_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $light-color;
    width: 300px;
    margin: 0 auto;
    padding-top: 2rem;
    z-index: 10;
    position: relative;
    svg {
      fill: $light-color;
      height: 100px;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
  #modal {
    width: 350px;
    height: auto;
    margin: 2rem auto;
    top: 0;
    left: 0;
    position: relative;
    z-index: 10;
    background-color: $light-color;
    border-radius: 1.5rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    button {
      padding-top: 0.5rem;
      text-align: center;
    }
    span {
      font-size: 0.8rem;
      font-weight: 500;
      &.extra {
        color: $secondary-color;
      }
    }
  }
}

#page_title {
  padding: 1rem 0.4rem;
  position: sticky;
  background-color: $light-color;
  opacity: 0.97;
  font-weight: bold;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 0;
  .back_button {
    background-color: #0000;
    border: none;
    width: auto;
    margin-right: 0.5rem;
  }
}

#buzzer {
  display: grid;
  grid-template-columns: 1fr minmax(50%, 600px) 1fr;
  grid-template-areas: "nav main aside";
  max-width: 1100px;
  margin: 0 auto;

  //   sides are sticky
  #main_navigation,
  #main_aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .content {
      padding: 1rem;
      position: sticky;
      top: 0;
      width: 100%;
      height: calc(100vh - 2rem);
    }
  }

  #main_navigation {
    grid-area: nav;
    justify-self: end;
    width: 175px;
    #logo_container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0.4rem;
      svg {
        fill: $primary-color;
        width: 80px;
        height: 80px;
      }
    }
    #navigation {
      button {
        margin-bottom: 0.4rem;
      }
    }
    #profile_container {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      width: calc(100% - 2rem);
      border-radius: 1.5rem;
      padding: 0rem 0.5rem;
      &:hover {
        background-color: $tertiar-color;
        cursor: pointer;
      }
      .user_display {
        padding: 0;
        &:hover {
          background-color: $tertiar-color;
          cursor: pointer;
        }
        section {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          section {
            display: flex;
            flex-direction: column;
          }
          p {
            padding: 0 0.4rem;
          }
          svg {
            width: 40px;
            height: 40px;
            fill: $secondary-color;
            border-radius: 50%;
          }
        }
      }
    }
  }

  #main_content {
    grid-area: main;
    margin: 0 auto;
    max-width: 600px;
    .user_header {
      svg {
        fill: $secondary-color;
      }
    }
    .user_info {
      margin: 1rem;
    }
  }
  .tweet_container {
    padding: 1.5rem 0.5rem;
    border: solid $tertiar-color thin;
    display: flex;
    flex-direction: row;
    .icon_container {
      width: 40px;
      svg {
        width: 40px;
        height: 40px;
        fill: $secondary-color;
      }
    }
    .content_container {
      width: 100%;
      padding-left: 0.4rem;
      .user_information {
        width: auto;
        display: flex;
        flex-direction: row;
        padding-top: 0.2rem;
        gap: 0.4rem;
        width: 100%;
        .user_display_name {
          font-weight: bold;
          width: auto;
        }
        p {
          font-weight: 300;
          font-size: 0.85rem;
          width: auto;
        }
      }
      .tweet_content {
        padding: 0.2rem 0;
        img {
          margin: 1rem 0;
          border-radius: 0.5rem;
        }
      }
      .like_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        section {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          width: auto;
          svg {
            stroke: $secondary-color;
            stroke-width: 2rem;
            width: 80px;
            height: 30px;
            fill: $light-color;
            opacity: 0.7;
            &:hover {
              stroke: $primary-color;
              cursor: pointer;
            }
            path {
              pointer-events: none;
            }
            &[data-liked="True"],
            &[data-retweeted="True"] {
              fill: $primary-color;
              stroke-width: 2rem;
              opacity: 1;
              & + p {
                font-weight: bold;
              }
            }
            &[data-liked="True"] {
              fill: $like-color;
              stroke: $like-color;
            }
            &[data-retweeted="True"] {
              fill: $retweet-color;
              stroke: $retweet-color;
            }
          }
        }
      }
    }
    .actions_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 0.2rem;
      gap: 0.4rem;
      width: auto;
      .button {
        max-width: 100px;
        width: 100%;
      }
      .tweet_actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 100%;
      }
    }
  }
  #main_aside {
    width: 300px;
    .content {
      #who_to_follow {
        background-color: $tertiar-color;
        border-radius: 1.5rem;
        h2 {
          padding: 1.2rem 1rem 0.6rem 1rem;
          font-weight: bold;
          border-radius: 1.5rem 1.5rem 0 0;
        }
        #show_more {
          padding: 0.6rem 1rem 1.2rem 1rem;
          border-radius: 0 0 1.5rem 1.5rem;
          border-style: inset;
          border: solid $tertiar-color thin;
          &:hover {
            background-color: $light-color;
            color: $primary-color;
            cursor: pointer;
          }
        }
        #users_list {
          border-top: solid $secondary-color thin;
          border-bottom: solid $secondary-color thin;
          border-radius: 0;
        }
      }
    }
  }
}
.user_display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.8rem;
  &:hover {
    background-color: $light-color;
    cursor: pointer;
  }
  .follow_button {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
  }
  section {
    height: 100%;
    padding: 0.4rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    section {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      padding: 0 0.4rem;
      font-size: 0.8rem;
    }
    svg {
      width: 30px;
      height: 30px;
      fill: $secondary-color;
      border-radius: 50%;
    }
  }
}
#page_content {
  .background {
    background-color: #f0a109;
    width: 100%;
    height: 150px;
    z-index: -2;
    position: relative;
  }
  #new_tweet_form_container {
    padding: 1rem 0.4rem;
    border: solid $tertiar-color thin;
  }
  .user_header {
    height: 50px;
    svg {
      width: 100px;
      height: 100px;
      transform: translateY(calc(-50% - 0.5rem - 0.25rem));
      background-color: white;
      padding: 0.5rem;
      margin: 1rem;
      border-radius: 100%;
      position: absolute;
      z-index: -1;
    }
  }
  .button {
    max-width: 100px;
    float: right;
    margin: 0.5rem;
  }
  height: auto;
}

.retweet_container {
  padding-top: 1.5rem;
  border: solid $tertiar-color thin;
  .retweet_header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    font-size: 0.85rem;
    color: $secondary-color;
    .retweet_icon {
      margin-left: 1rem;
      width: 20px;
      height: 20px;
      fill: $secondary-color;
    }
    .delete_retweet {
      width: auto;
    }
  }
  .tweet_container {
    padding-top: 0.2rem !important;
    border: none !important;
  }
}

#tweet_form {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  #profile_icon_container {
    width: auto;
    svg {
      width: 40px;
      height: 40px;
      fill: $secondary-color;
    }
  }
  #form_content {
    width: 100%;
    display: grid;
    #tweet_text {
      outline: none;
      border: none;
      padding: 0.4rem;
      resize: none;
      overflow: auto;
      height: 5rem;
      border-bottom: thin $tertiar-color solid;
      &:focus {
        outline: solid 2px $primary-color;
        border: none;
      }
    }
    #new_tweet_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.4rem 0;
      #image_actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4rem;
        #tweet_image {
          display: none;
        }
      }
      p {
        width: auto;
        height: auto;
      }
      label,
      button {
        width: auto;
        height: auto;
        text-align: center;
        max-width: unset;
        &.color {
          width: 150px;
        }
      }
    }
  }
}

#tweet_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  #background {
    background-color: $primary-color-transparent;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
  #modal {
    width: 600px;
    min-width: 300px;
    height: auto;
    margin: 0 auto 2rem auto;
    top: 0;
    left: 0;
    position: relative;
    z-index: 10;
    background-color: $light-color;
    border-radius: 1.5rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 1rem;
      color: $secondary-color;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

#buzzer.admin {
  display: inline-block;
  h1 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
  }
  #administator {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  #login,
  #signup {
    #modal {
      width: 100%;
      padding: 1.5rem 0.4rem;
    }
  }
}
@media screen and (max-width: 600px) {
  #tweet_modal #modal {
    width: 100%;
  }
  #buzzer {
    height: 100%;
    display: block;
    #main_content {
      min-width: unset;
      max-width: none;
    }
    #page_title {
      position: relative;
    }
    #main_navigation {
      height: 50px;
      width: auto;
      max-width: none;
      position: sticky;
      top: 0;
      background-color: $light-color;
      z-index: 110;
      border-bottom: solid #f8f2ea thin;
      .content {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        header {
          height: 30px;
          width: 30px;
        }
        footer {
          display: none !important;
        }
        main {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: auto;
          button {
            height: 100%;
            width: auto;
            background-color: #0000;
            border: none;
            text-decoration: none;
            color: $dark-color;
            padding: 0 20px;
            &:hover {
              color: $primary-color;
            }
            order: 1;
            &:last-of-type {
              order: 0;
            }
          }
        }
      }
    }
    #main_aside {
      display: none !important;
    }
  }
}
@media screen and (max-width: 980px) {
  #buzzer {
    grid-template-areas: "nav main main";
    #main_aside {
      display: none !important;
    }
  }
}
